{{define "content"}}
<div id="create-secret" class="fade-in">
  <div class="card">
    <label class="input-label">Your Secret</label>
    <textarea name="xyz" class="input blurred" id="secret-content"
      placeholder="Type your sensitive information here..." autocomplete="off"
      onchange="updateSaveButton(this);" onkeyup="updateSaveButton(this);"></textarea>
  </div>

  <div class="card">
    <label class="input-label">Expiration</label>
    <select id="valid-for" name="valid-for" class="input">
      <option value="3600">Valid for 1 hour</option>
      <option value="7200">Valid for 2 hours</option>
      <option value="43200">Valid for 12 hours</option>
      <option value="86400">Valid for 24 hours</option>
    </select>
  </div>

  <div class="file-input-container">
    <label class="file-input-label" for="files">
      <span class="file-input-icon"><i data-feather="upload-cloud"></i></span>
      <span class="file-input-text">Drop files here or click to browse</span>
    </label>
    <input type="file" id="files" name="files" class="file-input" multiple>
    <ul id="file-list" class="file-list"></ul>
  </div>

  <button id="save" class="button" disabled="true">
    <span class="button-icon"><i data-feather="lock"></i></span>
    <span>Create Secure Link</span>
  </button>
</div>
{{end}}
