{{define "content"}}
<div id="read-secret" class="fade-in">
  <div class="card">
    <div class="position-relative">
      <textarea name="xyz" class="input blurred" id="read-secret-content" autocomplete="nope" readonly></textarea>
      <div id="revealSecret" class="secret-reveal">
        <div class="secret-reveal-text">
          <span class="secret-reveal-icon"><i data-feather="eye"></i></span>
          <span>Click to reveal secret</span>
        </div>
      </div>
    </div>
  </div>

  <div id="download-files-container" style="display:none;" class="card">
    <label class="input-label">Attached Files</label>
    <div id="download-files"></div>
  </div>

  <button class="button button-outline" onclick="window.location='/'">
    <span class="button-icon"><i data-feather="plus"></i></span>
    <span>Create New Secret</span>
  </button>
</div>
{{end}}
