on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "./go.mod"

      - name: Install linters
        run: go install golang.org/x/lint/golint@latest

      - name: Go fmt and lint
        run: |
          go fmt ./...
          golint ./...
          go vet ./...

      - name: suggest changes
        if: always()
        uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.24.0

      - name: Installing gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Go test
        run: gotestsum ./...
