on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "./go.mod"

      - name: Run snapshot action
        uses: actions/go-dependency-submission@f35d5c9af13ce9cc32f7930b171e315e878f6921 # v2.0.3
        with:
            go-mod-path: "./go.mod"

      - name: Install linters
        run: go install golang.org/x/lint/golint@latest

      - name: Go fmt and lint
        run: |
          go fmt ./...
          golint ./...
          go vet ./...

      - name: suggest changes
        if: always()
        uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.24.0

      - name: Installing gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Go test
        run: gotestsum ./...
